{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="indent-left">
                            <h2>Carrosserie/Peinture</h2>
                            <p class="prev-indent-bot">DB Auto Pneus vous propose la <strong>Carrosserie</strong> de vos vehicules accidentés, vandalisés, rayés, notre carrossier démontera les éléments endommagés, il va remettre en forme ceux qui sont réparables et remplacera ceux qui sont irrécupérables. </p>
                            <p class="border-bot">Il prépare ensuite le véhicule en améliorant la qualité de la surface (masticage, ponçage...). Enfin, après avoir protégé les parties intactes, il peut appliquer la peinture au pistolet, effectuer les retouches et les finitions.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    {% for bodyWork in bodyWorks %}
        {% include 'body_work/body_work_card.html.twig' with {'bodyWork': bodyWork} %}
    {% endfor %}
    <a href="{{ path('bodywork_folio') }}">voir plus</a>

    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="indent-left">
                            <h2>Informations</h2>
                            <p class="prev-indent-bot">DB Auto pneus Saint-Savournin offre pour toutes préstations de carrosserie la franchise de votre assureur ainsi qu'un nettoyage complet de votre vehicule.</p>
                            <p class="border-bot">Vous souhaitez un devis? Une information supplémentaire ? N'hesitez pas à contacter notre garage qui se fera un plaisir de vous renseigner.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
