{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="indent-left">
                            <h2>Carrosserie/Peinture</h2>
                            <p class="prev-indent-bot">DB Auto Pneus vous propose la <strong>Carrosserie</strong> de vos voitures accidentées, vandalisées, rayées, bossolées, notre carrossier démontera les éléments endommagés, il va remetre en forme ceux qui sont réparables et remplacera ceux qui sont irrécupérables. </p>
                            <p class="border-bot">Notre peintre en carrosserie prend ensuite le relais. Il prépare le véhicule en améliorant la qualité de la surface (masticage, ponçage...); puis la peinture en recherchant la teinte à l’aide du nuancier. Enfin, après avoir protégé les parties intactes, il peut appliquer la peinture au pistolet, effectuer les retouches et les finitions.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    {% for bodyWork in bodyWorks %}
        {% include 'body_work/body_work_card.html.twig' with {'bodyWork': bodyWork} %}
    {% endfor %}
    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="indent-left">
                            <h2>Informations</h2>
                            <p class="prev-indent-bot">DB Auto pneus Saint-Savournin offre pour toutes préstations de carrosserie la franchise de votre assureur ainsi qu'un nettoyage complet de votre vehicule.</p>
                            <p class="border-bot">Vous souhaitez un devis? Une information supplémentaire ? N'hesitez pas à contacter notre garage qui ce fera un plaisir de vous renseignez.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
