{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bio-etha">Bio Ethanol</h1>
    <center><img class="img-displayed" src="{{asset('/images/logoEthanol.png')}}" alt="Bio Éthanol" width="200"></center><br/>
 

	<p>DB Auto Pneus s'est mit au vert nous pouvons donc effectuer le montage des kit Bioethanol E85 sur vos vehicules essence voiture, bateau, moto, quad, jetski ,grace au nouveau boitier V3 vous n'aurez pas de voyant moteur allumé au tableau de bord et pourrez rouler 100 % a l'E85.</p><br/>

	<strong> * MONTAGE REALISABLE SUR QUASIMENT TOUT MOTEUR INJECTION INDIRECT<br/>

	* ROULEZ A 100% ESSENCE 50%SP95.98/50%E85 ET 100% E85<br/>

	* BOITIER GARANTIE 5 ANS, FABRICATION EUROPEENNE, CERTIFIÉ TÜV ISO 9001 PRODUITE LABELISÉ CE.</strong>
	<br/><br/>

	<p> Db auto pneus Saint-Savournin à réaliser la formation pour être habilité à installer les boitiers, nous pouvons donc homologuer auprés de la préfècture votre véhicule. Car suite au passage de votre véhicule au bioéthanol votre carte grise sera modifié et aura la mention FE au lieu de ES. Ce boitier va permettre de polluer 40% de moins et facilitera le passage au contrôle technique. Il va vous permettre une éconimie a chaque plein. 
	Exemple : Un plein de 50Litres de SP95 à 1,50€ = 75€ et un plein de 50Litres de E85 à 0.70€ = 35€. C'est une économie non négligeable.</p><br/>

	<i>*prix du litre de E85 entre 70cts et 89cts</i>
	<i>*VEHICULE HOMOLOGABLE JUSQU'A 14 CV FISCAUX</i>
	<i>*boitier pouvant etre monter sur voiture 4cylindres, 6 cylindres, 8 cylindres et plus</i>

	<p> Vous n'avez peut être jamais fait attention mais un nouveau pistolet est arrivée sur vos pompes de station service. Il est de couleur bleu et la mention E85 est inscrit dessus. Pour savoir si une station ce trouve proche de chez vous, vous pouvez allez directement sur le site <a class="link-bio" href="https://www.bioethanolcarburant.com/le-bioethanol-et-vous/trouver-une-station-e85/"> Bio ethanol carburant</a> en recherchant par ville, ou région. Vous verrez que rien ne sert de prévoir a l'avance un itinéraire spécial pour trouver du bio éthanol.</p><bd/>

	<a class="link-bio"href="http://www.kit-ecosystem.com/" target="_BLANK">Achetez ici</a> votre boitier et venez le faire installer chez Db auto pneus.

{% endblock %}
