{% extends 'base.html.twig' %}

{% block body %}
    <h1> Tarif </h1>
    <div class="container-bot">
        <div class="container-top">
            <div class="container">
                <div class="wrapper">
                 	<article class="grid_4">
                 		<div id="pneus">
		                    <div class="indent-left">
		                    	<div class="title">
			                      <h6>*Tarifs des préstations par pneus</a></h6><br/>
			                  	</div>
			                      <h6><a class="link color-1" href="#">Changement pneumatiques</a></h6>
			                      <p class="p3">DB Auto Pneus Saint-Savournin, prend soins de vos pneumatiques. Nous vous conseillons d'effectuer une commande auprés de nos partenaires. Une fois vos pneus récèptionner nous pouvons prendre rendez-vous pour effectuer le changement. Que vous ayez des jantes en tole ou en alu, notre tarif restera le même.</p>
			                      <h6><a class="link color-1" href="#">Nos partenaires Pneumatiques</a></h6>
			                      <p class="img-indent-bot">
			                      	<a href="https://www.1001pneus.fr/">1001pneus</a><br/>
			                      	<a href="https://www.123pneus.fr/">123pneus</a><br/>
			                      	<a href="https://www.pneus-online.fr/">Pneus-online</a><br/>
			                      	<a href="https://www.discount-pneus.com/">Discount-Pneus</a><br/></p>
			                      <h6><a class="link color-1" href="#">Préstations mécanique</a></h6>
			                      <p class="img-indent-bot">Le temps est arrivé de faire la révision de votre véhicule? Prenez conseil auprés de DB Auto Pneus Saint-Savournin pour savoir quel formule sera la plus adapté. Vous souhaitez faire une recharge de clim, changer vos disques et vos plaquettes ? Un problème d'embrayage, de distribution ? DB Auto Pneus peut aussi s'occuper de cela.</p>
			                      <h6><a class="link color-1" href="#">Autres</a></h6>
			                      <p class="img-indent-bot">Reprogrammation moteur, Suppression EGR, DPF off, IMMO off, DTC off, Réparation compteur, Diagnostique et impression des codes erreurs.</p>
			                  </div>
			              </div>
		            </article>
                 	<article class="grid_8">
	                  	<div class="indent-left2">
	                     	<h3 class="p1"><a href="#">Nos Tarifs</a></h3>
	                     	<table class="price-list">
	                        <thead>
	                        	<tr>
			                        <td>&nbsp;</td>
			                        <td>Vehicules*</td>
			                        <td>SUV/4X4* Toutes dimensions 20€</td>
			                        <td>Utilitaires*</td>
	                        	</tr>
	                        </thead>
	                        <tbody>
	                        	<tr>
			                        <td>13 pouces</td>
			                        <td>10,00€</td>
			                        <td>*</td>
			                        <td>*</td>
	                         	</tr>
	                        	<tr>
		                            <td>14 pouces</td>
		                            <td>11,00€</td>
		                            <td>*</td>
		                            <td>*</td>
	                            </tr>
	                            <tr>
		                            <td>15 pouces</td>
		                            <td>14,00€</td>
		                            <td>*</td>
		                            <td>*</td>
	                          	</tr>
	                          	<tr>
		                            <td>16 pouces</td>
		                            <td>15,00€</td>
		                            <td>*</td>
		                            <td>*</td>
	                          	</tr>
	                          	<tr>
		                            <td>17 pouces</td>
		                            <td>16,00€</td>
		                            <td>*</td>
		                            <td>*</td>
	                          	</tr>
	                            <tr>
		                            <td>18 pouces et +</td>
		                            <td>18,00€</td>
		                            <td>*</td>
		                            <td>*</td>
	                          	</tr>
	                          	<tr>
		                            <td>Kangoo/Partner/etc</td>
		                            <td>*</td>
		                            <td>*</td>
		                            <td>14,00€</td>
	                          	</tr>
	                          	<tr>
		                            <td>Iveco/Boxer/Ducato</td>
		                            <td>*</td>
		                            <td>*</td>
		                            <td>15,00€</td>
	                          	</tr>
	                        </tbody>
	                        </table>
	                    </div>
	                    <article class="grid_8">
		                    <div class="indent-left2">
		                    	<h3 class="p1"><a href="#">Révisions</a></h3>
		                     	<table class="price-list">
		                        	<thead>
		                        		<tr>
				                            <td>&nbsp;</td>
				                            <td>Révision 1</td>
				                            <td>Révision 2</td>
				                            <td>Révision 3</td>
				                            <td>Révision 4</td>
		                          		</tr>
		                       		</thead>
		                        	<tbody>
		                         		<tr>
				                            <td>Remplacement huiles</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
		                          		</tr>
		                        		<tr>
				                            <td>filtre à huile</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
		                          		</tr>
		                          		<tr>
				                            <td>Joint de vidange</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
		                          		</tr>
		                          		<tr>
				                            <td>Filtre à Air</td>
				                            <td>/</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
		                          		</tr>
		                          		<tr>
				                            <td>Filtre à GO/Ess</td>
				                            <td>/</td>
				                            <td>/</td>
				                            <td>OUI</td>
				                            <td>OUI</td>
		                          		</tr>
		                          		<tr>
				                            <td>Filtre à pollen</td>
				                            <td>/</td>
				                            <td>/</td>
				                            <td>/</td>
				                            <td>OUI</td>
		                          		</tr>
		                          	</tbody>
		                        </table>
		                    </div>
		                </article>
	                  	<article class="grid_8">
	                  		<div id="reprogrammation">
			                    <div class="indent-left2">
			                    	<h3 class="p1"><a href="#">Autres Préstations</a></h3>
			                     	<table class="price-list">
			                        	<thead>
			                        		<tr>
					                            <td>&nbsp;</td>
					                            <td>Pack Stage 1</td>
					                            <td>Pack Stage 2</td>
					                            <td>Pack Stage 3</td>
			                          		</tr>
			                       		</thead>
			                        	<tbody>
			                         		<tr>
					                            <td>Reprogrammation moteur</td>
					                            <td>299,00€ TTC</td>
					                            <td>*</td>
					                            <td>*</td>
			                          		</tr>
			                        		<tr>
					                            <td>Stage1+EGR off</td>
					                            <td>*</td>
					                            <td>379,00€ TTC</td>
					                            <td>*</td>
			                          		</tr>
			                          		<tr>
					                            <td>Stage1+Stage2+FAP off</td>
					                            <td>*</td>
					                            <td>*</td>
					                            <td>499,00€ TTC</td>
			                          		</tr>
			                          	</tbody>
			                        </table>
			                    </div>
			                </div>
	                	</article>
	                	<article class="grid_8">
	                		<div id="mecanique">
		      					<div class="indent-center">
		            				<h3 class="p1"><a href="#">Préstations mécaniques</a></h3>
		        					<table class="price-list">
		        						<thead>
		        							<tr>
					                            <td>&nbsp;</td>
					                            <td>Avant</td>
					                            <td>Arriere</td>
			                          		</tr>
		        							<tr>
		        								<td>Montage plaquettes</td>
		        								<td>35€,00</td>
		        								<td>45,00€</td>
		        							</tr>
		        							<tr>
		        								<td>Montage diques et plaquettes</td>
		        								<td>70,00€</td>
		        								<td>75,00€</td>
		        							</tr>
		        							<tr>
		        								<td>Amortisseurs</td>
		        								<td>120,00€</td>
		        								<td>80,00€</td>
		        							</tr>
		        						</thead>
		        					</table>
	        					</div>
	        				</div>
                		</article>
                		<article class="grid_8">
	      					<div class="indent-center">
	            				<h3 class="p1"><a href="#">Préstations mécaniques</a></h3>
	        					<table class="price-list">
	        						<thead>
	        							<tr>
	        								<td>Embrayage</td>
	        								<td>à partir de 250,00€</td>
	        							</tr>
	        							<tr>
	        								<td>Remplacement de 4 bougies Essence</td>
	        								<td>à partir de 45,00€</td>
	        							</tr>
	        						</thead>
	        					</table>
	        				</div>
	        			</article>
                	</div>
          		</div>
        	</div>
    	</div>
    </div>

{% endblock %}
