{% extends 'base.html.twig' %}

{% block body %}
    <h2>Mecanique</h2>
    <div>
        <p>BLABLABLA</p>
    </div>
    {% if mecanics_folio|length > 0 %}
        <h2>PortFolio</h2>
        <div>
            {% for mecanicFolio in mecanics_folio %}
                {% include 'mecanic/mecanic_card.html.twig' with {'mecanic': mecanicFolio} %}
            {% endfor %}
            <a href="{{ path('mecanic_folio') }}">voir plus</a>
        </div>
    {% endif %}
{% endblock %}
