<h3>{{ mecanic.name }}</h3>
<p>{{ mecanic.description }}</p>
<div>
    <div>
        {% for image in mecanic.images %}
            <a class="fancybox" href="{{ asset(image.pathImage) }}" data-fancybox="mecanic" /><img src="{{ asset(image.pathImage) }}" width="100"/></a>
        {% endfor %}
    </div>
</div>
