<div class="main">
    <div class="footer">
        <div class="col-3">
            @copyright Db Auto Pneus  <br />
            <a href="{{ path("mentions_legales") }}"> Mentions légale</a>
        </div>
        <div class="col-3">
            {{ render(controller('App\\Controller\\CoreController::rate')) }}
        </div>
        <div class="col-3">
            {{ render(controller('App\\Controller\\CoreController::contact')) }}
        </div>
    </div>
</div>
