<nav>
    <ul class="menu">
        <li><a href="{{ path('homepage') }}" class="active">Home</a></li>
    <li><a class="bio-ethanol" href="{{ path('bio') }}">Bio Ethanol<br /> E85</a></li>
    <li><a href="#">Mécanique</a></li>
    <li><a href="#">Carrosserie - peinture</a></li>
    <li><a href="{{ path('reprogramming_index') }}">Reprogrammation</a></li>
    <li><a href="{{ path('price') }}">Tarif </a></li>
    </ul>
</nav>

